################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AlgorithmsDataStructuresProblems/AlgorithmsDataStructuresProblems/bin/Debug/net8.0
[Bb]in/
[Oo]bj/
*.user
*.userprefs
*.suo
*.cache
*.csproj.user
*.dll
*.pdb
*.exe
.vs/
